/* FONTS IMAGES 
======================================== */
.code-font {
	font-family: 'Inconsolata', monospace;
}

/* COVER IMAGES 
======================================== */
#__cover{
	background-image: url("../img/cover.jpg");
	background-color: rgb(0,0,0);
	min-height: calc(100vh);
}

/* COLORS
======================================== */
.main > span > p {
	color: #ddd;
}

.red_color {
	color: #db0000;
}

.uk-button-default{
	border: 1px solid #db0000;
	color: #fff;
}

.uk-button-default:hover{
	border: 1px solid #db0000;
	background-color: #db0000;
	color: #444;
}
